  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
  }

  div  { 
    display: grid;
    grid-template-columns: 200px 100px 200px 100px 100px 200px;
    text-align: right;
  }

